﻿/* @theme my-theme */

@import "default";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap');

/* 共通設定 */
section {
    --primary-color: #364F6B;
    --secondary-color: #FC5185;
    --tertiary-color: #3FC1C9;
    --default-back-color: #F5F5F5;
    height: 720px;
    width: 1280px;
    padding-top: 160px;
    padding-left: 64px;
    justify-content: start;
    color: #222222;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--default-back-color);
}

section img[alt~="center"] {
    display: block;
    margin: 0 auto;
}

/* 見出し */
section h2 {
    font-size: 70px;
    color: var(--primary-color);
    position: absolute;
    top: 32px;
    left: 64px;
    right: 64px;
    padding-top: 24px;
    border-bottom: solid 1px var(--primary-color);
    font-weight: bold;
}

section h3 {
    font-size: 60px;
    color: var(--primary-color);
    position: absolute;
    top: 32px;
    left: 64px;
    right: 64px;
    padding-top: 24px;
    border-bottom: solid 1px var(--primary-color);
    font-weight: bold;
}

/* 強調 */
section strong {
    color: var(--secondary-color);
}

/* テーブル */
section table {
    border: 3px;
}

section table td {
    border: 1px solid var(--primary-color);
}

section table th {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--default-back-color);
}

section table tr:nth-child(even) {
    background-color: var(--default-back-color);
}

/* 左右二分割 */
section .left {
    position: absolute;
    width: calc(50% - 64px - 16px);
}

section .right {
    position: absolute;
    left: calc(50% + 16px);
    width: calc(50% - 64px - 16px);
}


section .middle {
    top: 50%;
    transform: translate(0%, -50%);
}

/* タイトル */
section.title {
    position: static;
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color));
}

section.title * {
    color: var(--default-back-color);
}

section.title h1 {
    position: static;
    border: none;
    background: none;
    font-size: 80px;
}

section.title footer {
    display: none;
}

section.title:after {
    display: none;
}

/* 自己紹介 */
section.about_me {
    padding-top: 0px;
    justify-content: center;
}

section.about_me:before {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 50%;
    height: 100%;
    content: "";
    background: linear-gradient(to right, var(--primary-color), var(--primary-color));
}

section.about_me img {
    position: absolute;
    top: calc((100% - 256px)/2);
    left: calc((100%*3/4 - 256px/2));
    height: 256px;
    width: 256px;
    border-radius: 50%;
}

section.about_me h3 {
    border: none;
    position: static;
    border: none;
    background: none;
}

section.about_me:after {
    display: none;
}

/* セクション */
section.subsection {
    padding-top: 0px;
    justify-content: center;
    background-color: var(--default-back-color);
}

section.subsection h2 {
    position: static;
}

section.subsection:after {
    display: none;
}

section.subsection footer {
    display: none;
}

section.subsection2 {
    padding-top: 0px;
    padding-bottom: 0px;
    justify-content: center;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color));
}

section.subsection2 * {
    color: var(--default-back-color);
}

section.subsection2 h2 {
    position: static;
    border: none;
}

section.subsection2 footer {
    display: none;
}

section.subsection2:after {
    display: none;
}